body {
  background-image: url('dancefloor1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.gif{
  display:inline-block;
}

.gif:hover{
  border-style: dashed;
  border-color: red;
  border-width: 2px;
}
